API_URL_VIZ=apivizv0-url-base
API_URL_RD3=apird3v0-url-base
APIKEY=your-api-key


ALLOWED_HOST=allowed_host
HOST_URL=http://localhost:8000
CORS_ORIGIN_WHITELIST=http://viz.v0.aior.in,https://viz.v0.aior.in,http://103.149.148.2,https://103.149.148.2,https://test06.in,https://www.test06.in,https://172.31.31.66,https://103.250.86.174,https://203.193.147.228,https://203.193.152.8,https://172.16.12.25,https://172.16.14.11,https://172.16.10.15,http://172.31.31.66,http://103.250.86.174,http://203.193.147.228,http://203.193.152.8,http://172.16.12.25,http://172.16.14.11,http://172.16.10.15,https://services.aiori.in,http://localhost,https://v2.aiori.in,http://192.168.19.36
CSRF_TRUSTED_ORIGINS=http://localhost:8000
DEBUG=False          # True in local

#API key
GEMINI_API_KEY =your-gemini-api-key
OPENAI_API_KEY=your-openai-api-key

# Active API flag: "gemini" or "openai"
ACTIVE_API=openai

# Email Settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.sendgrid.net(FOR-SENDGRID)/sandbox.smtp.mailtrap.io(Mailtrap)
EMAIL_HOST_USER=apikey(FOR-SENDGRID)/your-host-user(Mailtrap)
EMAIL_HOST_PASSWORD=your-sendgrid/mailtrap-key
EMAIL_PORT=587(FOR-SENDGRID)/2525(Mailtrap)
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=your-default-from-email
EMAIL_SERVER=SENDGRID/SMTP(FOR-DEVELOPMENT)
SMTP_FROM=your-smtp-from-email
SENDGRID_API_KEY=your-sendgrid/mailtrap-key


# Redis Configuration
#REDIS_URL=redis://localhost:6379/1
REDIS_DEFAULT_URL=redis://localhost:6379/0
REDIS_OTP_URL=redis://localhost:6379/1
REDIS_SESSION_URL=redis://localhost:6379/2
REDIS_ROOT_SERVER_URL=redis://localhost:6379/3
REDIS_IP_URL=redis://localhost:6379/8

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/4
CELERY_RESULT_BACKEND=redis://localhost:6379/5

# Twilio Settings (For Mobile)
TWILIO_ACCOUNT_SID=your-account-sid
TWILIO_AUTH_TOKEN=your-auth-token
TWILIO_VERIFY_SERVICE_SID=your-service-sid

# Database Configuration
DB_NAME=projectdb
DB_USER=postgres
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5432

# S3 Configuration
DEFAULT_FILE_STORAGE = 'storages.backends.s3boto3.S3Boto3Storage'

AWS_ACCESS_KEY_ID = 'minio'
AWS_SECRET_ACCESS_KEY = 'my_pass'
AWS_STORAGE_BUCKET_NAME = 'media-files'  # your bucket name
AWS_S3_ENDPOINT_URL = 'http://<host_ip>:45035'  # replace <host_ip> with your actual IP
AWS_S3_REGION_NAME = 'us-east-1'  # MinIO ignores this, but boto3 requires it
AWS_S3_ADDRESSING_STYLE = 'path'

#OPENAI API key
GEMINI_API_KEY=your-gemini-api-key
OPENAI_API_KEY=your-openai-api-key

# Active API flag: "gemini" or "openai"
ACTIVE_API=openai

ROOT_VIZ_URL=https://root-servers.org
MEASUREMENT_ANCHOR_IDS=103,937,83,57,68,121,55,1006