{% load static i18n %}
<!-- Top Bar Start -->
<div class="topbar">  
    <!-- Navbar -->
    <nav class="navbar-custom">    
        <ul class="list-unstyled topbar-nav float-end mb-0"> 
            <!-- User IP Address -->
            <li class="nav-item d-none d-md-inline-block">
                <span class="nav-link user_ip text-muted" style="cursor: default;">
                    <i class="fas fa-map-marker-alt me-2"></i> 
                    Your IP: {% if server_data %}{{ server_data.ip }}{% else %}{{ ip }}{% endif %}
                </span>
            </li>                      

            <!-- User Profile Dropdown -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="false" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <img src="{{ user_data.profile_image }}" alt="profile-user" class="rounded-circle me-0 me-md-2 thumb-sm" />
                        <div class="user-name">
                            <small class="d-none d-lg-block font-11">{{ user_data.designation }}</small>
                            <span class="d-none d-lg-block fw-semibold font-12">{{ user_data.first_name }} {{ user_data.last_name }} <i
                                    class="mdi mdi-chevron-down"></i></span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{% url 'services_app:profile' %}"><i class="ti ti-user font-16 me-1 align-text-bottom"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="ti ti-settings font-16 me-1 align-text-bottom"></i> Settings</a>
                    <div class="dropdown-divider mb-0"></div>
                    <a class="dropdown-item" href="{% url 'services_app:logout' %}"><i class="ti ti-power font-16 me-1 align-text-bottom"></i> Logout</a>
                </div>
            </li><!--end topbar-profile-->
            
            <li class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle nav-link" id="mobileToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a><!-- End mobile menu toggle-->
            </li> <!--end menu item--> 
        </ul><!--end topbar-nav-->

        <div class="navbar-custom-menu">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services_app:dashboard' %}">
                            <span><i class="ti ti-smart-home menu-icon"></i>Home</span>
                        </a>
                    </li><!--end nav-item-->

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services_app:public_measurement' %}">
                            <span><i class="ti ti-files menu-icon"></i>Public Measurements</span>
                        </a>
                    </li><!--end nav-item-->

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services_app:domain' %}">
                            <span><i class="ti ti-globe menu-icon"></i>Domains</span>
                        </a>
                    </li><!--end nav-item-->

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services_app:zone' %}">
                            <span><i class="ti ti-map menu-icon"></i>Zones</span>
                        </a>
                    </li><!--end nav-item-->

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services_app:dashboard' %}?tab=report-1">
                            <span><i class="ti ti-clipboard menu-icon"></i>Reports</span>
                        </a>
                    </li><!--end nav-item-->

                    {% if user_data.is_faculty %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services_app:enroll_students' %}">
                            <span><i class="ti ti-user-plus menu-icon"></i>Enroll Students</span>
                        </a>
                    </li><!--end nav-item-->
                    {% endif %}

                    {% if user_data.is_faculty or user_data.is_student %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services_app:assignment' %}">
                            <span><i class="ti ti-book menu-icon"></i>Assignments</span>
                        </a>
                    </li><!--end nav-item-->
                    {% endif %}

                    {% if user_data.is_student %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services_app:linked_queries_by_student_dashboard' %}">
                            <span><i class="ti ti-link menu-icon"></i>Linked Queries</span>
                        </a>
                    </li><!--end nav-item-->
                    {% endif %}

                    {% if user_data.is_superuser %}
                    <li class="nav-item dropdown parent-menu-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <span><i class="ti ti-shield menu-icon"></i>Admin Access</span>
                        </a>
                        <ul class="dropdown-menu animate slideIn" aria-labelledby="navbarAdmin"> 
                            <li>
                                <a class="dropdown-item" href="{% url 'services_app:user_list' %}">Users</a>
                            </li><!--end /li-->
                            <li>
                                <a class="dropdown-item" href="{% url 'services_app:user_list_point_details' %}">Users Point Info</a>
                            </li><!--end /li-->
                            <li>
                                <a class="dropdown-item" href="{% url 'services_app:admin_faculty_student_list' %}">Faculty List</a>
                            </li><!--end /li-->
                        </ul>
                    </li><!--end nav-item-->
                    {% endif %}
                </ul><!-- End navigation menu -->
            </div> <!-- end navigation -->
        </div>
        <!-- Navbar -->
    </nav>
    <!-- end navbar-->
</div>
<!-- Top Bar End -->
